<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button slot = "start"></ion-menu-button>
  </ion-buttons>
  <ion-title>¡Bienvenido Pedro!</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card>
      <img src="https://cdn-icons-png.flaticon.com/512/64/64572.png" width="100px" height="100px">
    <br><br>
    <ion-label style="font-family: Calibri bold; font-size: 18px">
      Nombre: Pedro Lozano<br><br>
      Capital actual: $1000<br><br>
      Salario: $400<br><br>
      Frecuencia de ingresos: Mensualmente<br><br>
      Deudas: $100<br><br>
    </ion-label>
  </ion-card>
  <p style="font-size: 20px; font-family: Calibri">Grafico de ingresos y egresos:</p>
  <ion-img src="https://minio.scielo.br/documentstore/0102-3098/rNc56pRHpJ593L5XjGzVLvs/c006b2389df48c573f230637909d93352146aa4f.jpg"></ion-img>
</ion-content>
