<ion-content class="bg-image">

<ion-toolbar>
    <ion-menu-button slot = "start"></ion-menu-button>
  <ion-title>¡Bienvenido Pedro!</ion-title>
</ion-toolbar>

<br><br>

  <ion-card class="ion-text-center">
      <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" width="100px" height="100px">
    <br><br>
    <ion-label style="font-family: Calibri bold; font-size: 22px">
      Pedro Lozano<br><br>
      Capital $1000<br><br>
      Salario: $400<br><br>
      Frecuencia de ingresos: Mensualmente<br>
    </ion-label>
  <br>
      <p style="font-size: 20px; font-family: Calibri">Grafico de ingresos y egresos:</p>
      <ion-img src="https://minio.scielo.br/documentstore/0102-3098/rNc56pRHpJ593L5XjGzVLvs/c006b2389df48c573f230637909d93352146aa4f.jpg"></ion-img>
  </ion-card>

</ion-content>
