<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label> <ion-input type="text" placeholder="¿Cual es su nombre?" class="inputs"></ion-input> </ion-label>
      <br>
      <ion-label> <ion-input type="text" placeholder="¿Cual es su apellido?" class="inputs"></ion-input> </ion-label>
      <br>
      <ion-label> <ion-input type="user" placeholder="Crea un usuario" class="inputs"></ion-input> </ion-label>
      <br>
      <ion-label> <ion-input type="password" placeholder="Crea una contraseña" class="inputs"></ion-input> </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active" >
    Registrate
  </ion-button>
</ion-content>