ion-content.bg-image{
    --background: url(https://cdn.pixabay.com/photo/2015/06/24/02/12/the-blurred-819388_960_720.jpg) 0 0/100% 100% ;
  }

.card{
    --background:rgba(92, 87, 87, 0.082);
    
    color: #ffffff;
}