<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>
      Conversor de monedas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="capActual">
    <ion-label position="stacked">Ingrese la cantidad a calcular</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item class="capActual">
    <ion-label position="stacked">Seleccione la moneda ingresada</ion-label>
    <ion-accordion-group>
      <ion-accordion value="colors">
        <ion-list slot="content">
          <ion-item>
            <ion-label>Dolares</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Pesos mexicanos</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Pesos colombianos</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Diariamente</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-item>
  <ion-item class="capActual">
    <ion-label position="stacked">Seleccione el tipo de moneda a transferir</ion-label>
   
  </ion-item>
</ion-content>