<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="grid-outline"></ion-icon> Menu
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>

<ion-menu-toggle>
  <ion-item [routerLink]="['/usuario']" routerLinkActive="router-link-active" >
    <ion-icon name="person-outline"></ion-icon> Perfil
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle>
  <ion-item [routerLink]="['/inicio']" routerLinkActive="router-link-active" >
    <ion-icon name="analytics-outline"></ion-icon> Ingreso de datos
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle>
  <ion-item [routerLink]="['/conversormonedas']" routerLinkActive="router-link-active" >
    <ion-icon name="cash-outline"></ion-icon> Conversor de monedas
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle>
  <ion-item [routerLink]="['/notificaciones']" routerLinkActive="router-link-active" >
    <ion-icon name="notifications-outline"></ion-icon> ¡Notificaciones!
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle>
    <ion-item [routerLink]="['/login']" routerLinkActive="router-link-active" >
      <ion-icon name="log-out-outline"></ion-icon> Log out
    </ion-item>
</ion-menu-toggle>