<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title >
      Gestiona tus Finanzas
    </ion-title>
  </ion-toolbar>
</ion-header>
<br><br><br>
<ion-content>
<ion-item>
  <img alt="imagenInicio" class="logo"
  src='https://pruebaweb.ingeniumcapacitacion.com/reposit-web-img/productos/MANAGEMENT/programa-de-especializacion-en-finanzas-con-business-intelligence-y-analytics.jpg'>
</ion-item>
<br><br><br><br><br>
<ion-card>
  <ion-card-header>
    <ion-card-title>Inicia Sesion</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-label> <ion-input type="user" placeholder="Ingresa tu usuario" class="inputs"></ion-input> </ion-label>
    <br>
    <ion-label> <ion-input type="password" placeholder="Ingresa tu contraseña" class="inputs"></ion-input> </ion-label>
  </ion-card-content>
  <ion-button [routerLink]="['/usuario']" routerLinkActive="router-link-active" > Iniciar </ion-button>
  <ion-button [routerLink]="['/registro']" routerLinkActive="router-link-active" >Registrate </ion-button>
</ion-card>
</ion-content>
