<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/usuario">
        <ion-icon name="person-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>¡Bienvenido Pedro!</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-item class="capActual">
    <ion-label position="stacked">Coloque su capital actual</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Coloque sus deudas</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

<ion-item>
  <ion-label style="min-width:600px" position="stacked">Coloque sus activos totales de un mes (Ej.: Arriendos,<br>prestamos, salarios, intereses, etc.)</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>

<ion-item class="gasFijos">
  <ion-label position="stacked">Coloque sus gastos fijos (Ej. Agua, luz, etc.)</ion-label>
  <br>
  <ion-item>
    &nbsp;<ion-label>Agua</ion-label>
    &nbsp;&nbsp;<ion-checkbox (click)="toggleShow()"></ion-checkbox>&nbsp; &nbsp;
    <div *ngIf="isShown" class="row container-fluid" id="divshowag">
      <ion-input style="font-family: Calibri" type="number" placeholder="Monto"></ion-input>
    </div>
  </ion-item>


  <ion-item>
    &nbsp;<ion-label>Luz</ion-label>
    &nbsp;&nbsp;<ion-checkbox (click)="toggleShow2()"></ion-checkbox>&nbsp; &nbsp;
    <div *ngIf="isShown2" class="row container-fluid" id="divshowlz">
      <ion-input style="font-family: Calibri" type="number" placeholder="Monto"></ion-input>
    </div>
  </ion-item>

  <ion-item>
    &nbsp;<ion-label>Internet</ion-label>
    &nbsp;&nbsp;<ion-checkbox (click)="toggleShow3()"></ion-checkbox>&nbsp; &nbsp;
    <div *ngIf="isShown3" class="row container-fluid" id="divshowin">
      <ion-input style="font-family: Calibri" type="number" placeholder="Monto"></ion-input>
    </div>
  </ion-item>


  <ion-item>
    &nbsp;<ion-label>Telefono</ion-label>
    &nbsp;&nbsp;<ion-checkbox (click)="toggleShow4()"></ion-checkbox>&nbsp; &nbsp;
    <div *ngIf="isShown4" class="row container-fluid" id="divshowtl">
      <ion-input style="font-family: Calibri" type="number" placeholder="Monto"></ion-input>
    </div>
  </ion-item>

  <ion-item>
    &nbsp;<ion-label>Television</ion-label>
    &nbsp;&nbsp;<ion-checkbox (click)="toggleShow5()"></ion-checkbox>&nbsp; &nbsp;
    <div *ngIf="isShown5" class="row container-fluid" id="divshowtv">
      <ion-input style="font-family: Calibri" type="number" placeholder="Monto"></ion-input>
    </div>
  </ion-item>

  <ion-item>
    &nbsp;<ion-label>Suscripciones</ion-label>
    &nbsp;&nbsp;<ion-checkbox (click)="toggleShow6()"></ion-checkbox>&nbsp; &nbsp;
    <div *ngIf="isShown6" class="row container-fluid" id="divshowsbus">
      <ion-input style="font-family: Calibri" type="number" placeholder="Monto"></ion-input>
    </div>
  </ion-item>
</ion-item>


  <ion-accordion-group>
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>Frecuencia de ingresos</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label>Mensualmente</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Quincenalmente</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Semanalmente</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Diariamente</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
<br><br>
<ion-content class="ion-text-center">
  <ion-button>Ingresar datos</ion-button>
</ion-content>
<label style="font-family: 'Calibri Light'; font-size: 15px">Nota: Rellene los campos que se le solicita en
  dólares</label>
