<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      ¡Notificaciones!
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>

  <ion-card>
    <ion-card-header>
      Felicidades
    </ion-card-header>
    <ion-card-content>
      Has ahorrado  $23 al no atrasarte en tus pagos de servicios basicos. 
    </ion-card-content>
</ion-card>
  <ion-card>
      <ion-card-header>
        Atento!
      </ion-card-header>
      <ion-card-content>
        Se puede atrasar en sus pagos mensuales.
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Atento!
    </ion-card-header>
    <ion-card-content>
      Lleva dos dias de atraso en sus pagos mensuales.
    </ion-card-content>
</ion-card>
  
</ion-content>